@*Don't forget to change the accompanying .txt file if you update this one!*@
@(signupUrl: String, introText: String)


<p>@introText  Your account request has been approved.</p>
<p>Click the button below to create an account.  If you have any problems, please let us know at contact@@convergencelabs.com.</p>
<p>
  <a class="signup" href='@signupUrl' style='box-sizing:border-box; background:transparent; text-align:center; overflow:hidden; 
    cursor:pointer; outline:none; border:none; display:inline-block; vertical-align:middle; font-size:14px; font-weight:500; 
    text-transform:uppercase; padding:0 10px; margin:10px 0; min-width:88px; line-height:36px; border-radius:3px; 
    -webkit-transition:background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition:background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color:#ffffff; background-color:#1976D2;'>Create Account</a>
</p>