@(registrationBaseUrl: String, token: String)

<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Handle registration requests</title>
</head>
<body>
  <button id='approveButton' onclick="doAction('approve');">Approve</button>
  <button id='rejectButton' onclick="doAction('reject');">Reject</button>
  <div id="approveSuccess" style="display: none">Approved.</div>
  <div id="rejectSuccess" style="display: none">Rejected.</div>
  <div id="error" style="display: none"></div>
  <script> 
    var baseUrl = '@registrationBaseUrl';
    function doAction(action) {	
	  try {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function() {
          if (req.readyState == XMLHttpRequest.DONE) {
            document.getElementById(action + 'Success').style.display = 'block';
          }
        }
        req.open('POST', baseUrl + action, true);
        req.setRequestHeader('Content-type', 'application/json');
        req.setRequestHeader('Access-Control-Allow-Origin', '*');
        req.send(JSON.stringify({'token': '@token'}));
      } catch (e) {
        document.getElementById('error').innerHTML = e;
        document.getElementById('error').style.display = 'block';
      }
    }
  </script>
</body>
</html>