@(content: Html)

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
  </head>
  <body>
    <div class="content" style='font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size:1.3em; margin:10px;'>
      <div class="title" style='margin: 10px 0; font-size: 1.9em;'>
        <a href="http://www.convergencelabs.com" style='text-decoration: none; color:#0D5C90;'>
          <img src="http://www.convergencelabs.com/logo.png" alt="Convergence Logo" style='width:35px; vertical-align:middle;'>
          <span style='display:inline-block; vertical-align:middle;'>Convergence</span>
        </a>
      </div>
      @content
    </div>
  </body>
</html>